@font-face {
    font-family: "ASUS sans";
    src: url(../assets/font/LT\ Asus\ 400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "ASUS Bold";
    src: url(../assets/font/LT\ Asus\ 700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "ASUS Zebulon";
    src: url(../assets/font/Zebulon.otf);
}

//Fonts
$font-family-asus: "ASUS sans", sans-serif;
$font-family-bold: "ASUS Bold", sans-serif;
$font-family-zebulon: "ASUS Zebulon", sans-serif;

//Colors
$primary-color: #000;
